.header{
  display: flex;
  gap: 20px;
  
}
.header-tittle{
  display: flex;
  justify-content: space-between;
  gap: 440px;

}
.logo{
  font-size:25px;
  text-decoration: none;
}
.action{
  display: flex;
  gap: 15px;
}
.action-content{
  gap: 20px;
}

.user-icon{
  width: 30px;
}
.main{
  display: flex;
  gap: 20px;

}
.main-content-left{
  background-color: rgb(88, 88, 255);
  border-radius: 8px;
}
.main-content-right{
  background-color: rgb(5, 5, 202);
  border-radius: 8px;
}
.main-text{
  padding:10px 15px ;
  gap: 30px;
}
.main-img{
  align-items: center;
}
.mainn{
  display: flex;
  justify-content: space-around;
}
.pickup-drop{
  display:flex;
}
.pickup-chech{
  display: flex;
  gap: 10px;
}
.loc{
  border: none;
}
.lodai{
  display: flex;
  gap: 20px;
}
.drop-chech{
  display: flex;
  gap: 10px;
}
