.header{
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.container{
  background-color: #f0e5e569;
}
.logo{
  font-size:30px;
  text-decoration: none;
}
.search{
  border: 6px;
}
.action{
  display: flex;
  font-size: 20px;
  gap: 15px;
}
.action-logo{
  width: 30px;
  border-radius: 100px;
}
.main-car{
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
 
}
.main-text h2{
  font-size: 30px;

}
.main-text h4{
  font-size: 15px;
}
.main-left{
  padding: 15px 20px;
  gap: 10px;
  background-color: #54a6ff;
  color: #fff;
  border-radius: 8px;
}
.main-right{
  padding: 15px 20px;
  gap: 10px;
  background-color: #3563e9;
  color: #fff;
  border-radius: 8px;
}
.main-img{
  padding-left: 40px;
}
.pickdrop{
  display: flex;
  justify-content: space-around;
  padding-bottom: 30px;

}
.pickup-chech{
  display: flex;
  gap: 10px;
}

.lodati{
  display: flex;
  gap: 5px;
}
.loc{
  border: none;
}
.popular{
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}
.view a{
  text-decoration: none;
}
.carss{
  display: flex;
}
.cars{
  padding: 30px;
}
.car{
  display: flex;
  gap: 70px;
}
.car-gtr{
  padding-bottom: 20px;
}
.car-title{
  padding-bottom:17px;
}
.car-footer{
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
.gtr{
  width: 220px;
  padding-bottom: 5px;
}
.pric{
  display: flex;
  gap: 25px;
}
//footer
.our{
  font-size: 12px;
}
.about-text{
  display: inline-block;
}
.footerr{
  display: flex;
  justify-content: space-between;
}
.footer-title a{
  text-decoration: none;
}
.footer-right{
  display: flex;
  gap: 40px;
}
.copyright{
  display: flex;
  justify-content: space-between;
}
.copyrightt{
  justify-content: space-around;
}
