.search-icon{
    border:none;
    background-color: #fff;
    align-items: center;
}
.search-here{
    border:none;
    background-color: #fff;
    text-decoration: none;
}
.apps-icon{
    border:none;
    background-color: #fff;
}
.heart{
    border:none;
    background-color: #fff;
}
.notifications{
    border:none;
    background-color: #fff;
}
.cog{
    border:none;
    background-color: #fff;
}
.button-swap{
    background: blue;
    border: none;
    font-size: 25px;
    border-radius: 7px;
    color: #fff;
}